    p{
        font-family: Arial ;
        margin-top: 0;
    }
    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
        width: 280px;
    }
    .view {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 20px;
    }
    .author {
        font-size: 14px;
        color: rgb(96, 96, 96);
    }
    .description {
        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280px;
        line-height: 22px;
        margin-bottom: 100px;
    }
    .end {
        margin-bottom: 50px; 
        font-size: 14px;
        background-color: rgb(227, 65, 64);
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 18px;
    }
    .span-1 {
        color: white;
        cursor: pointer;
    }
    .span-1:hover {
        text-decoration: underline;
    }