p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail {
  width: 300px;
  display: block;
}
.search {
  display: block;
}
.preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}
.info {
  display: inline-block;
  width: 200px;
}
.dp {
  width: 40px;
  border-radius: 50px;
}
.thumbnail-row {
    margin-bottom: 12px;
}
.author,.view {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.author {
    margin-bottom: 4px;
}

