body{
    font-size: 22px;
}

h1, h2{
    color: blue;
}
p{
    color: purple !important; /*important makes it main or important or it  overrides and gives it to other*/
}

.gray{
    color: gray;
}
/* # is used as specific selector for selecting id */
#second{
    font-style: italic;
}

.highlight{
    text-transform: uppercase ;
    text-decoration:underline ;
    background-color: yellow;
}
.highlight:hover{
    cursor: pointer;
    text-decoration: none;
}