*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 87px;
    color: white;
    font-family: "Outfit", sans-serif;
}
h2{
    font-family: "Outfit", sans-serif;
    font-size: 57px;
    color: white;
}
h3{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    line-height: 27.5px;
    letter-spacing: 10%;
    font-weight: 600;
}