*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
    background-color: #2d0070;
    color: white;
}
h1{
    font-size: 87px;
    font-family: "Outfit", sans-serif;
}
h2{
    font-family: "Outfit", sans-serif;
    font-size: 57px;
    line-height: 1;
}
h3{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27.5px;
    letter-spacing: 10%;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

li{
    font-size: 20px;
    color: white;
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
a:hover{
    text-decoration: underline;
}

.text-md {
    font-size: 16px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

.texta-sm {
    font-size: 14px;
    line-height: 128%;
    font-family: "Outfit", sans-serif;    
}

button{
    padding: 22px 32px;
    font-size: 20px;
    border-radius: 9999px;
}

.solid_btn{
    background-color: #9F3EE7;
    color: white;
    border: none;
}

.outline_btn{
    background-color: transparent;
    color: white;
    border: 2px solid #9F3EE7;
}

/*nav section*/
.container {
    max-width: 1065px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 48px;
    ul{
       display: flex;
       list-style: none;
       gap: 76px;

    }
}

/*hero section*/

.hero{
    display: flex;

    .content{
        flex: 1;
        h1{
            line-height: 1;
        }
        p{
            margin-top: 28px;
            font-weight: 400;
        }
    }

.button{
    display: flex;
    gap: 16px;
    margin-top: 36px;
    button{
        width: 255px;
    }
}
button:hover{
    cursor: pointer;
}
.img_container{
    flex: 1;
}
.img_container img{
    width: 100%;
}
}

/*brand section*/

.brand{
    margin-top: 160px;
.brand_logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 76px;
    border-radius: 8px;
    margin-top: 32px;
    gap: 16px;
    background-color: rgba(99, 88, 189, 0.19);
   } 
.brand_logo img{
    &:first-child{
        height: 100%;
    }
    height: 50%;
}
}

/*feature section*/

.feature_section{
    display: flex;
    align-items: center;
    gap: 45px;

    .img_container{
        flex: 1;
    }
    .img_container img{
        width: 100%;
    }
    .content{
        flex: 1;
        h2{
            margin-top: 16px;
            margin-bottom: 20px;
        }

        button{
            margin-top: 24px;
            min-width: 356px;
        }
    }
}