*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
    background-color: #2d0070;
    color: white;
}
h1{
    font-size: 87px;
    font-family: "Outfit", sans-serif;
}
h2{
    font-family: "Outfit", sans-serif;
    font-size: 57px;
    line-height: 1;
}
h3{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27.5px;
    letter-spacing: 10%;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

li{
    font-size: 20px;
    color: white;
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
a:hover{
    text-decoration: underline;
}

.text-md {
    font-size: 16px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

.text-sm {
    font-size: 14px;
    line-height: 128%;
    font-family: "Outfit", sans-serif;    
}

button{
    padding: 22px 32px;
    font-size: 20px;
    border-radius: 9999px;
}

.solid_btn{
    background-color: #9F3EE7;
    color: white;
    border: none;
}

.outline_btn{
    background-color: transparent;
    color: white;
    border: 2px solid #9F3EE7;
}
.black_btn{
    background-color: black;
    color: white;
    border: none;
}

/*nav section*/
.container {
    max-width: 1065px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 48px;
    ul{
       display: flex;
       list-style: none;
       gap: 76px;

    }
}

/*hero section*/

.hero{
    display: flex;

    .content{
        flex: 1;
        h1{
            line-height: 1;
        }
        p{
            margin-top: 28px;
            font-weight: 400;
        }
    }

.button{
    display: flex;
    gap: 16px;
    margin-top: 36px;
    button{
        width: 255px;
    }
}
button:hover{
    cursor: pointer;
}
.img_container{
    flex: 1;
}
.img_container img{
    width: 100%;
}
}

/*brand section*/

.brand{
    margin-top: 160px;
.brand_logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 76px;
    border-radius: 8px;
    margin-top: 32px;
    gap: 16px;
    background-color: rgba(99, 88, 189, 0.19);
   } 
.brand_logo img{
    &:first-child{
        height: 100%;
    }
    height: 50%;
}
}

/*feature section*/

.feature_section{
    display: flex;
    align-items: center;
    gap: 45px;

    .img_container{
        flex: 1;
    }
    .img_container img{
        width: 100%;
    }
    .content{
        flex: 1;
        h2{
            margin-top: 16px;
            margin-bottom: 20px;
        }

        button{
            margin-top: 24px;
            min-width: 356px;
        }
    }
}

/*testimonial section*/

.testimonial_section{
    text-align: center;
    margin-top: 174px;
    h2{
      margin-top: 16px;  
    }
    .testimonial{
        margin-top: 120px;
        margin-bottom: 110px;
            display: flex;
            gap: 16px;

        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 95px;
            padding-bottom: 49px;
            padding-left: 28px;
            padding-right: 28px;
            background: rgba(62, 5, 127, 1);
            position: relative;
            border-radius: 20px;
            gap: 20px;
           .img_container{
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            width: 138px;
           }
           .img_container img{
            height: 138px;
            width: 138px;
           }
        }

    }
}

/*ready section*/

.ready_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(318deg, #B44CFF 0%,#560D95 100%);
    height: 441px;
    border-radius: 20px;
    h2{
        margin-top: 24px;
        margin-bottom: 48px;
    }
    button{
        max-width: 255px;
        margin: 0 auto;
        text-transform: uppercase;
    }
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 48px;
    font-size: 16px;

    .logo{
        font-weight: bold;
    }

    .links{
            ul{
                margin-top: 16px;
                list-style: none;
                display: flex;
                gap: 8px;
                flex-direction: column;
                li{
                    font-size: 16px;
                }
            }
        }

    .newsletter{
        .input_container{
            margin-top: 20px;
            width: 345px;
            background: #13134D;
            position: relative;
            border-radius: 9999px;
            input{
                border-radius: 9999px;
                padding: 0 16px;
                height: 50px;
                background: #13134D;
                width: 100%;
                border: none;
            }
            button{
                position: absolute;
                right: 4px;
                border-radius: 9999px;
                padding: 0;
                margin-top: 2px;
                background: #9F3EE7;
                border: none;
                color: white;
                width: 115px;
                height: 44px !important;
            }
        }
    }

}