*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
    background-color: #2d0070;
    color: white;
}
h1{
    font-size: 87px;
    font-family: "Outfit", sans-serif;
}
h2{
    font-family: "Outfit", sans-serif;
    font-size: 57px;
}
h3{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27.5px;
    letter-spacing: 10%;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

li{
    font-size: 20px;
    color: white;
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
a:hover{
    text-decoration: underline;
}

.text-md {
    font-size: 16px;
    line-height: 27.5px;
    font-family: "Outfit", sans-serif;
}

.texta-sm {
    font-size: 14px;
    line-height: 128%;
    font-family: "Outfit", sans-serif;    
}

button{
    font-size: 20px;
}

/*nav section*/
.container {
    max-width: 1065px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 48px;
    ul{
       display: flex;
       list-style: none;
       gap: 76px;

    }
}

/*hero section*/

.hero{
    display: flex;

    .content{
        flex: 1;
        h1{
            line-height: 1;
        }
        p{
            margin-top: 28px;
            font-weight: 400;
        }
    }
}
.button{
}

.img_container{
    flex: 1;
}
.img_container img{
    width: 100%;
}