.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;

}
.youtube-logo{
    height: 20px;
}

.middle-section{
    margin-left: 70px;
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}
.search::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 60px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
}

.right-section{
    background-color: lightblue;
    width: 200px;
}
