.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(226, 226, 226);
}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;

}
.youtube-logo{
    height: 20px;
}

.middle-section{
    margin-left: 70px;
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0; /*for search bar shrink*/
}
.search::placeholder{ /*inside search bar*/
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px; /*-ve to pull the element closer*/
    margin-right: 10px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);

}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*give space bw icons*/
    margin-right: 20px;
    flex-shrink: 0; /*prevent the icons from shrinking*/
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.current-user-picture{
    height: 28px;
    border-radius: 16px;
}