.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;

}
.youtube-logo{
    height: 20px;
}

.middle-section{
    margin-left: 70px;
    background-color: lightpink;
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
}

.right-section{
    background-color: lightblue;
    width: 200px;
}
