.thumbnail {
  width: 100%;
}
.picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}
.info {
  display: inline-block;
  width: 200px;
}
.dp {
  width: 36px;
  border-radius: 50px;
}
.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
.author,.view {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.author {
    margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px; 
}

@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
 
.video-time{
  font-size: 12px;
  font-weight: 500;
  padding: 4px; /*instead of padding top,botm,left,right*/
  /*goes in order like top, right, bottom ,left*/
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.video-link{
  color: black;
  text-decoration: none;
}
.author{
  text-decoration: none;
  font-family: Roboto, Arial;
}