.thumbnail {
  width: 100%;
}
.picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}
.info {
  display: inline-block;
  width: 200px;
}
.dp {
  width: 40px;
  border-radius: 50px;
}
.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}
.author,.view {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.author {
    margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px; 
}
